.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/gift/freelance/photo/avatar/1.JPG", alt="")
    h3 Натали Фотограф
  .priceBlock__container 
    h3 Фото
    .priceBlock__cost
      .title 
        p Пакет "Экспресс"
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Пакет "Стандарт"
      .cost 
        p 3000 руб.
    .priceBlock__cost
      .title 
        p Свадебная съемка
      .cost 
        p 6000 руб.
    .priceBlock__cost
      .title 
        p Съемка для контента (час)
      .cost 
        p 2000 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79057558010") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать

.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/gift/freelance/photo/avatar/2.PNG", alt="")
    h3 Ярославцева Александра Фотограф
  .priceBlock__container 
    h3 Фото
    .priceBlock__cost
      .title 
        p Час съемки
      .cost 
        p 3500 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79130365079") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать