$colorBack: rgb(197, 0, 0);
$colorLink: rgb(255, 239, 22);

$colorServiceHeader: rgb(179, 0, 140);

.categoryNav{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 60px 6fr;
  padding: 10px;
  background-color: white;
  z-index: 100;
  &__back{
    position: relative;
    height: 40px;
    grid-column: 1/2;
    a{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $colorBack;
    }
  }
  &__link{
    position: relative;
    display: inline-block;
    grid-column: 2/6;
  }
  &__container{
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
    z-index: 1;
    .swiper-wrapper{
      position: relative;
      width: max-content;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
      a{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 40px;
        border-radius: 15px;
        background-color: $colorLink;
      }
    }
  }
}

// Стили для заголовка в Услугах и Магазинах
.serviceHeader{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 10px;
    background-color: $colorServiceHeader;
    color: white;
    border-radius: 15px;
  }
}