// Стили для блоков Красота
@mixin makeUp {
  background-color: #ffb9c3;
  img{
    bottom: 0;
    right: 0;
    height: 200px;
  }
}
@mixin cosmetic {
  background-color: #fc92b6;
  img{
    bottom: 0;
    height: 225px;
  }
}
@mixin eyelashes {
  background-color: #ff6794;
  img{
    bottom: 0;
    right: 0;
    height: 110px;
  }
}
@mixin manicure {
  background-color: #ff9dae;
  img{
    bottom: 0;
    right: 0;
    height: 110px;
  }
}
@mixin massage {
  background-color: #ffc5d6;
  img{
    right: 0;
    height: 130px;
  }
}

.categoriesBeauty{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include manicure();
  }
  & a:nth-child(2){
    @include makeUp();
  }
  & a:nth-child(3){
    @include cosmetic();
  }
  & a:nth-child(4){
    @include eyelashes();
  }
  & a:nth-child(5){
    @include massage();
  }
}

// Стили для блоков Дом
@mixin ceilings {
  background-color: #00b45a;
  img{
    bottom: 0;
    right: 0;
    height: 140px;
  }
}
@mixin cleaning {
  background-color: #00c377;
  img{
    bottom: 50px;
    left: 0;
    height: 180px;
  }
}
@mixin electronics {
  background-color: #58d196;
  img{
    bottom: 10px;
    height: 100px;
  }
}
@mixin interior {
  background-color: #a6e5c3;
  img{
    bottom: 10px;
    height: 150px;
  }
}
@mixin repairs {
  background-color: #88e5af;
  img{
    bottom: 10px;
    height: 100px;
  }
}

.categoriesHouse{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include repairs();
  }
  & a:nth-child(2){
    @include cleaning();
  }
  & a:nth-child(3){
    @include interior();
  }
  & a:nth-child(4){
    @include electronics();
  }
  & a:nth-child(5){
    @include ceilings();
  }
}

// Стили для блоков Еда
@mixin products {
  background-color: #ffac33;
  img{
    bottom: 0px;
    height: 115px;
  }
}
@mixin fastfood {
  background-color: #f35000;
  img{
    top: 30px;
    right: 0px;
    height: 250px;
  }
}
@mixin catering {
  background-color: #fda157;
  img{
    left: 0px;
    bottom: 0px;
    height: 200px;
  }
}
@mixin sweets {
  background-color: #ff8429;
  img{
    bottom: 10px;
    height: 100px;
  }
}
@mixin burgers {
  background-color: #e56d00;
  img{
    bottom: 0px;
    height: 125px;
  }
}

.categoriesEat{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include products();
  }
  & a:nth-child(2){
    @include fastfood();
  }
  & a:nth-child(3){
    @include catering();
  }
  & a:nth-child(4){
    @include sweets();
  }
  & a:nth-child(5){
    @include burgers();
  }
}

// Стили для блоков Авто
@mixin repairs {
  background-color: #ffe406;
  img{
    bottom: 0px;
    left: 20px;
    height: 90px;
  }
}
@mixin service {
  background-color: #ffef6e;
  img{
    bottom: 30px;
    left: 25px;
    height: 200px;
  }
}
@mixin rent {
  background-color: #ffe473;
  img{
    left: 10px;
    top: 75px;
    height: 150px;
  }
}
@mixin drycleaning {
  background-color: #ffcb33;
  img{
    bottom: 0px;
    height: 110px;
  }
}
@mixin audio {
  background-color: #ffe200;
  img{
    bottom: 10px;
    height: 90px;
  }
}

.categoriesAuto{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include repairs();
  }
  & a:nth-child(2){
    @include service();
  }
  & a:nth-child(3){
    @include rent();
  }
  & a:nth-child(4){
    @include drycleaning();
  }
  & a:nth-child(5){
    @include audio();
  }
}

// Стили для блоков Одежда
@mixin accessories {
  background-color: #931ca0;
  img{
    bottom: 10px;
    height: 90px;
  }
}
@mixin clothes {
  background-color: #d670e1;
  img{
    bottom: 0px;
    left: 0px;
    height: 225px;
  }
}
@mixin shoes {
  background-color: #e097e9;
  img{
    bottom: 0px;
    height: 225px;
  }
}
@mixin bag {
  background-color: #e8b4ef;
  img{
    bottom: -20px;
    height: 125px;
  }
}
@mixin womenclothes {
  background-color: #cc37d8;
  img{
    bottom: 0px;
    right: 20px;
    height: 115px;
  }
}

.categoriesCloth{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include accessories();
  }
  & a:nth-child(2){
    @include clothes();
  }
  & a:nth-child(3){
    @include shoes();
  }
  & a:nth-child(4){
    @include bag();
  }
  & a:nth-child(5){
    @include womenclothes();
  }
}

// Стили для блоков Подарки
@mixin gift {
  background-color: #f50000;
  img{
    bottom: 0px;
    height: 100px;
  }
}
@mixin events {
  background-color: #b30000;
  img{
    bottom: 0px;
    height: 225px;
  }
}
@mixin artists {
  background-color: #fa3c20;
  img{
    bottom: 0px;
    height: 225px;
  }
}
@mixin photo {
  background-color: #950000;
  img{
    bottom: -20px;
    height: 125px;
  }
}
@mixin DJ {
  background-color: #f92405;
  img{
    bottom: 0px;
    height: 90px;
  }
}

.categoriesGift{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include gift();
  }
  & a:nth-child(2){
    @include events();
  }
  & a:nth-child(3){
    @include artists();
  }
  & a:nth-child(4){
    @include photo();
  }
  & a:nth-child(5){
    @include DJ();
  }
}

// Стили для блоков Обучение
@mixin tutor {
  background-color: #92d5f6;
  img{
    bottom: 0px;
    right: 0px;
    height: 100px;
  }
}
@mixin courses {
  background-color: #42adea;
  img{
    bottom: 0px;
    right: 0px;
    height: 225px;
  }
}
@mixin сhildreneducation {
  background-color: #66d0f4;
  img{
    bottom: 0px;
    height: 225px;
  }
}
@mixin selfdevelopment {
  background-color: #71caf4;
  img{
    bottom: -20px;
    height: 125px;
  }
}
@mixin browistcourses {
  background-color: #2576bf;
  img{
    bottom: 0px;
    right: 0px;
    height: 125px;
  }
}

.categoriesTraining{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include tutor();
  }
  & a:nth-child(2){
    @include courses();
  }
  & a:nth-child(3){
    @include сhildreneducation();
  }
  & a:nth-child(4){
    @include selfdevelopment();
  }
  & a:nth-child(5){
    @include browistcourses();
  }
}

// Стили для блоков Движение
@mixin sport {
  background-color: #00acbd;
  img{
    bottom: 0px;
    height: 100px;
  }
}
@mixin relaxation {
  background-color: #3fa5b0;
  img{
    bottom: 0px;
    width: 100%;
  }
}
@mixin activity {
  background-color: #2b747c;
  img{
    bottom: 0px;
    width: 100%;
  }
}
@mixin tours {
  background-color: #2b747c;
  img{
    bottom: 10px;
    height: 100px;
  }
}
@mixin sportinggoods {
  background-color: #55afb7;
  img{
    bottom: 0px;
    height: 100px;
  }
}

.categoriesMotion{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 60px;
  a img{
    position: absolute;
  }
  & a:nth-child(1){
    @include sport();
  }
  & a:nth-child(2){
    @include relaxation();
  }
  & a:nth-child(3){
    @include activity();
  }
  & a:nth-child(4){
    @include tours();
  }
  & a:nth-child(5){
    @include sportinggoods();
  }
}