$colorServiceCallback: rgb(62, 208, 253);
$colorBodyText: white;

@mixin textHeader {
  font-family: 'Nunito-SemiBold', sans-serif;
  font-size: 1.5rem;
  color: white;
}

@mixin textNormal {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 1.1rem;
  color: white;
}

@mixin textLink {
  font-family: 'Nunito-SemiBold', sans-serif;
  font-size: 1rem;
  color: white;
}

@mixin textureBlock {
  opacity: 0.15;
  background-image: url('../img/texture/fake_brick.png');
}

.mainOption{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 140px);
  color: $colorBodyText;
  text-align: center;
  h1{
    font-size: 2rem;
    @include textHeader();
    margin-top: 25%;
  }
  p{
    margin: 10px auto;
    padding: 0 25px;
    font-weight: 300;
    line-height: 1.5rem;
    max-width: 300px;
    @include textNormal();
  }
  a{
    position: relative;
    display: flex;
    align-items: center;
    background-color: $colorServiceCallback;
    @include textNormal();
    color: white;
    text-transform: lowercase;
    letter-spacing: 1px;
    height: 40px;
    padding: 0px 30px;
    margin-top: 25px;
    border-radius: 15px;
  }
}

.serviceHeader{
  position: relative;
  height: 250px;
  padding: 10px;
  &__info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 40px;
    color: white;
    text-align: center;
    z-index: 5;
    h2{
      position: relative;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid;
      margin: 0px auto;
      padding-bottom: 10px;
      width: 125px;
      @include textHeader();
    }
    p{
      margin: 10px auto;
      @include textNormal();
      line-height: 22px;
    }
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    box-shadow: inset 0px -100px 100px 0px rgba(0, 0, 0, 1);
  }
}
.serviceContent{
  position: relative;
  top: -50px;
  display: flex;
  align-content: center;
  flex-direction: column;
  min-height: calc(100vh - 215px);
  &__mainAction{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
      @include textLink();
      background: #1f1f1f;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 12px 30px;
      margin: 10px auto;
      border-radius: 10px;
      width: 35%;
      text-align: center;
      z-index: 100;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include textureBlock();
      }
    }
    a:nth-child(1){
      background: #313131;
    }
  }
  &__navigation{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50px);
    row-gap: 5px;
    column-gap: 5px;
    margin-top: 40px;
    padding: 10px;
    a{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include textLink();
      background: rgba(255, 255, 255, 0.4);
      border-radius: 15px;
      padding: 10px;
      text-align: center;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include textureBlock();
      }
      img{
        height: 20px;
      }
      p{
        margin: 0;
      }
    }
    .small{
      grid-row: span 1;
      grid-column: span 1;
      background: rgba(255, 255, 255, 0.15);
    }
    .long{
      grid-row: span 2;
      grid-column: span 1;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.4);
      img{
        margin-bottom: 5px;
      }
    }
    .wide{
      grid-row: span 1;
      grid-column: span 2;
      background: rgba(255, 255, 255, 0.25);
      img{
        margin-right: 5px;
      }
    }
  }
  &__popularProduct{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    .productContainer{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
      .productBlock{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 100%;
        height: 100px;
        transition-property: transform;
        border-radius: 15px;
        @include textLink();
        background-color: rgb(65, 65, 65);
        &::after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          @include textureBlock();
        }
        p{
          padding: 5px;
          text-align: center;
        }
      }
    }
  }
}