@mixin textHeader {
  font-family: 'Nunito-SemiBold', sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem 0px;
  color: white;
}

@mixin textNormal {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 1rem;
  opacity: 0.75;
  margin: 0.5rem auto;
}

@mixin textLink {
  font-family: 'Nunito-SemiBold', sans-serif;
  font-size: 1rem;
  color: white;
}

@mixin textureBlock {
  opacity: 0.15;
  background-image: url('../img/texture/fake_brick.png');
}

$storyColor: white;

// Оформление блока профиля  
.listMasters{
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px;
  min-height: calc(100vh - 290px);
  margin: 10px;
  .master{
    position: relative;
    width: 100%;
    margin: 5px auto;
    padding: 5px 0;
    &__block{
      display: grid;
      grid-template-columns: 90px 1fr 60px;
      grid-template-rows: 78px;
      position: relative;
      .story{
        position: absolute;
        width: 72px;
        height: 72px;
        background: rgb(255, 255, 255);
        background: linear-gradient(120deg, rgb(255, 228, 228) 0%, rgb(202, 73, 253) 100%);
        border-radius: 50%;
        &::after{
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          width: 68px;
          height: 68px;
          border-radius: 50%;
          background: #000;
        }
      }
    }

    &__nav{
      position: relative;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 50px);
      row-gap: 5px;
      column-gap: 5px;
      z-index: 20;
      height: 0px;
      overflow: hidden;
      &__button{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        P{
          @include textLink();
          text-align: center;
          margin: 0px;
        }
        &::after{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          @include textureBlock();
        }
      }
      .long{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row: span 2;
        grid-column: span 1;
        background-color: #383737;
        img{
          width: 12px;
          height: 12px;
          margin-bottom: 5px;
        }
        p{
          margin: 0px;
          line-height: 16px;
        }
        .noBack{
          opacity: 0;
        }
      }
      .small{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row: span 1;
        grid-column: span 1;
        background-color: #444444;
        img{
          width: 20px;
        }
        p{
          margin: 0px;
          line-height: 16px;
        }
        .noBack{
          opacity: 0;
        }
      }
      .wide{
        display: flex;
        align-items: center;
        grid-row: span 1;
        grid-column: span 2;
        background-color: #303030;
        img{
          width: 14px;
          margin-right: 5px;
        }
        p{
          margin: 0px;
          line-height: 16px;
        }
      }
      .noBack{
        background-color: transparent;
      }
    }

    &__avatar{
      position: relative;
      display: flex;
      align-items: center;
      justify-items: center;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 20px;
      z-index: 10;
      img, picture{
        display: block;
        width: 100%;
      }
    }
    &__info{
      position: relative;
      color: white;
      h3{
        @include textHeader();
      }
      a, p{
        display: block;
        color: inherit;
        @include textNormal();
      }
    }
    &__link{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 5;
      &__openNavButton{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 73px;
        border-radius: 15px;
        img, picture{
          width: 25px;
          height: 25px;
          transition: transform .3s;
        }
        p{
          @include textLink();
          margin:0px;
          margin-top: 5px;
        }
        &::after{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          @include textureBlock();
        }
      }
      .active img{
        transform: rotateZ(45deg);
      }
    }
  }
}


// Оформление для Истории
.storyBlock{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0,0,0);
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 110;
  transform:scale(0);
  opacity: 0.25;
  &__header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    z-index: 120;
    .avatar{
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;
      width: 50px;
      margin-left: 10px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img, picture{
        position: relative;
        width: 100%;
      }
    }
    h3{
      @include textLink();
    }
  }
  &__content{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    .swiper-wrapper{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
      .swiper-slide{
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img, picture{
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }
        .sound{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 60px;
          left: 10px;
          background-color: rgba(0, 60, 255, 0.3);
          width: 60px;
          height: 40px;
          border-radius: 15px;
          z-index: 210;
          background-image: url('../img/icon/volume_up.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px;
          &.off{
            background-image: url('../img/icon/volume_off.svg');
            background-color: rgba(255, 0, 0, 0.3)
          }
        }
      }
    }
    .swiper-button-next, .swiper-button-prev{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 80vh;
      z-index: 10;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
    .swiper-button-next{
      right: 0;
      
    }
    .swiper-button-prev{
      left: 0;
    }
    .swiper-pagination {
      position: absolute;
      top: 8px;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: center;
      transition: .3s opacity;
      transform: translate3d(0,0,0);
      z-index: 120;
    }
    .swiper-pagination-bullet{
      width: 100%;
      height: 4px;
      display: inline-block;
      margin: 0px 2px;
      background: #000;
      opacity: .2;
    }
    .swiper-pagination-bullet-active{
      opacity: 1;
      background: rgba($color: #ffffff, $alpha: 0.75);
    }
  }
}

// оформление Цены
.priceBlock{
  position: fixed;
  display: none;
  clip-path: circle(0%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  overflow-y: auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 120;
  &__container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    padding: 100px 15px 50px 15px;
    h3{
      position: relative;
      @include textHeader();
      margin-bottom: 25px;
    }
  }
  &__cost{
    position: relative;
    margin-top: 5px;
    width: 100%;
    display: grid;
    align-self: center;
    grid-template-rows: 37px;
    grid-template-columns: 3fr 1fr;
    .title,
    .cost,
    .order{
      @include textLink();
    }
    .cost,
    .order{
    text-align: center;
    }
    .order{
      position: relative;
      a{
      display: block;
      height: 100%;
      width: 100%;
      line-height: 37px;
      color: white;
      }
    }
  }
}