$colorButton: rgb(255, 113, 113);
$colorButtonLong: rgb(113, 255, 208);
$colorButtonWide: rgb(217, 255, 113);

$colorCategoryHeader: rgb(0, 0, 0);
$colorCategoryDesc: rgb(73, 73, 73);

$colorServiceCallback: rgb(126, 236, 0);

@mixin textMain {
    font: {
      family: 'Montserrat', sans-serif;
      size: 12px;
      weight: 600;
    }
    color: white;
}
@mixin beauty {
  background: rgb(153,51,177);
  background: linear-gradient(180deg, rgba(153,51,177,1) 16%, rgba(217,179,226,1) 100%);
  img{
    position: absolute;
    bottom: -20%;
    height: 150px;
  }
}

@mixin eat {
  background: rgb(227,65,45);
  background: linear-gradient(180deg, rgba(227,65,45,1) 16%, rgba(241,143,52,1) 52%, rgba(253,200,0,1) 82%, rgba(255,239,38,1) 100%);
  img{
    position: absolute;
    top: 15%;
    right: -20%;
    height: 300px;
  }
}

@mixin auto {
  background: rgb(135,170,255);
  background: linear-gradient(180deg, rgba(135,170,255,1) 15%, rgba(171,212,255,1) 54%, rgba(68,183,254,1) 100%);
  img{
    position: absolute;
    bottom: 5%;
    left: 20%;
    height: 100px;
  }
}

@mixin home {
  background: rgb(164,207,227);
  background: linear-gradient(265deg, rgba(164,207,227,1) 15%, rgba(33,108,200,1) 100%);
  img{
    position: absolute;
    top: 15%;
    height: 150px;
  }
}

@mixin cloth {
  background: rgb(250,225,150);
  background: linear-gradient(90deg, rgba(250,225,150,1) 15%, rgba(244,203,41,1) 52%, rgba(241,197,0,1) 100%);
  img{
    position: absolute;
    top: 25%;
    height: 120px;
  }
}

@mixin motion {
  background: rgb(130,195,146);
  background: linear-gradient(90deg, rgba(130,195,146,1) 0%, rgba(3,168,95,1) 51%, rgba(0,150,66,1) 100%);
  img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
  }
}

@mixin gift {
  background: rgb(243,79,35);
  background: linear-gradient(180deg, rgba(243,79,35,1) 41%, rgba(255,127,80,1) 100%);
  img{
    position: absolute;
    bottom: -5%;
    left: 25%;
    height: 250px;
  }
}

@mixin training {
  background: rgb(198,65,145);
  background: linear-gradient(0deg, rgba(198,65,145,1) 0%, rgba(190,9,8,1) 80%);
  img{
    position: absolute;
    bottom: 10%;
    right: -55%;
    height: 220px;
  }
}

body{
    @include textMain;
}
main{
    padding: 10px;
}

.categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 150px);
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 60px;
    &__button{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        grid-row: span 1;
        grid-column: span 1;
        background-color: $colorButton;
        text-decoration: none;
        overflow: hidden;
        padding: 10px;
        border-radius: 15px;
        @include textMain;
        p{
            width: 100%;
            margin: 0;
            padding: 10px;
            z-index: 50;
        }
    }
    .long{
      background-color: $colorButtonLong;
      grid-row: span 2;
      grid-column: span 1;
    }
    .wide{
      background-color: $colorButtonWide;
      grid-row: span 1;
      grid-column: span 2;
    }
    &__beauty{
      @include beauty();
    }
    &__auto{
      @include auto();
    }
    &__home{
      @include home();
    }
    &__eat{
      @include eat();
    }
    &__cloth{
      @include cloth();
    }
    &__motion{
      @include motion();
    }
    &__training{
      @include training();
    }
    &__gift{
      @include gift();
    }
}

.categoryHeader{
  margin-bottom: 20px;
  padding: 20px 10px;
  h2{
    color:$colorCategoryHeader;
    font-size: 22px;
  }
  p{
    color:$colorCategoryDesc;
    font-weight: 300;
  }
}

.mainOption{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
  h1{
    color: $colorCategoryHeader;
    font-size: 2rem;
  }
  p{
    color: $colorCategoryDesc;
    font-weight: 300;
  }
  a{
    position: relative;
    display: flex;
    align-items: center;
    background-color: $colorServiceCallback;
    color: white;
    text-transform: lowercase;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    height: 40px;
    padding: 0px 40px;
    margin-top: 50px;
    border-radius: 15px;
  }
}