@mixin textMain {
    font: {
      family: 'Montserrat', sans-serif;
      size: 12px;
      weight: 600;
    }
    color: #333;
}

$colorButton: rgb(255, 113, 113);
$colorButtonLong: rgb(113, 255, 208);
$colorButtonWide: rgb(217, 255, 113);

$colorCategoryHeader: rgb(0, 0, 0);
$colorCategoryDesc: rgb(82, 82, 82);

$colorServiceCallback: rgb(126, 236, 0);

body{
    @include textMain;
}
main{
    padding: 10px;
}

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 60px;
    &__button{
        display: flex;
        align-items: flex-end;
        grid-row: span 15;
        background-color: $colorButton;
        text-decoration: none;
        padding: 10px;
        border-radius: 15px;
        @include textMain;
        p{
            margin: 0;
            padding: 10px;
        }
    }
    .long{
        background-color: $colorButtonLong;
        grid-row: span 30;
    }
    .wide{
        background-color: $colorButtonWide;
        grid-column: 1/3;
    }
}

.categoryHeader{
  margin-bottom: 20px;
  padding: 20px 10px;
  h2{
    color:$colorCategoryHeader;
    font-size: 22px;
  }
  p{
    color:$colorCategoryDesc;
    font-weight: 300;
  }
}

.mainOption{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
  h1{
    color: $colorCategoryHeader;
    font-size: 2rem;
  }
  p{
    color: $colorCategoryDesc;
    font-weight: 300;
  }
  a{
    position: relative;
    display: flex;
    align-items: center;
    background-color: $colorServiceCallback;
    color: white;
    text-transform: lowercase;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    height: 40px;
    padding: 0px 40px;
    margin-top: 50px;
    border-radius: 15px;
  }
}