.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/holidays/freelance/DJ/avatar/1.webp", type="image/webp")
        source(srcset="../img/holidays/freelance/DJ/avatar/1.JPG", type="image/jpeg")
        img(src="../img/holidays/freelance/DJ/avatar/1.JPG", alt="")
    h3 Дуэт "Два Антона"
  .priceBlock__container 
    h3 Фото
    .priceBlock__cost
      .title 
        p Ведущий и DJ
      .cost 
        p от 1 руб.


  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79232868625") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать