.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/holidays/service/events/avatar/1.webp", type="image/webp")
        source(srcset="../webp/holidays/service/events/avatar/1.jpg", type="image/jpeg")
        img(src="../webp/holidays/service/events/avatar/1.jpg", alt="")
    h3 Vanilla | Студия декора
  .priceBlock__container 
    h3 Услуги декора
    .priceBlock__cost
      .title 
        p Свадебный декор
      .cost 
        p от 1 руб.


  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79509806060") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать