.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/holidays/freelance/gift/avatar/1.webp", type="image/webp")
        source(srcset="../img/holidays/freelance/gift/avatar/1.jpg", type="image/jpeg")
        img(src="../img/holidays/freelance/gift/avatar/1.jpg", alt="")
    h3 Wowmilota
  .priceBlock__container 
    h3 Декор из дерева
    .priceBlock__cost
      .title 
        p Оригинальный декор из дерева
      .cost 
        p от 1 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79057558010") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать

.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/holidays/freelance/gift/avatar/2.webp", type="image/webp")
        source(srcset="../img/holidays/freelance/gift/avatar/2.jpg", type="image/jpeg")
        img(src="../img/holidays/freelance/gift/avatar/2.jpg", alt="")
    h3 Nuts and More
  .priceBlock__container 
    h3 Коробочки с орехами и цукатами
    .priceBlock__cost
      .title 
        p Маленькая коробка
      .cost 
        p 1050 руб.
    .priceBlock__cost
      .title 
        p Большая коробка
      .cost 
        p 1450 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79130365079") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать