<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        title Авто | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
    body
      main
        .categoryHeader
          h2 Авто
          p Выберите магазин или услугу
          .categoryAuto
        .categories.categoriesAuto
          a.categories__button.small
            p Ремонт
            img(src="img/auto/block/repairs.svg", alt="")
          a.categories__button.long
            p Обслуживание
            img(src="img/auto/block/service.svg", alt="")
          a.categories__button.long
            p Аренда авто
            img(src="img/auto/block/rent.svg", alt="")
          a.categories__button.small
            p Химчистка
            img(src="img/auto/block/drycleaning.svg", alt="")
          a.categories__button.wide
            p Установка аудиосистемы
            img(src="img/auto/block/audio.svg", alt="")
      nav.categoryNav
        .categoryNav__back
          a(href="/realpeople/app/")
            img(src="img/icon/backspace.svg", alt="")
        .categoryNav__link
          .categoryNav__container
            .swiper-wrapper
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")