<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(name="google" content="notranslate")
        title Красота | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="/img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/img/logo/icon256.png")
    body
      main
        .categoryHeader
          h2 Красота
          p Выберите магазин или услугу
          .categoryBeauty
        .categories.categoriesBeauty
          a(href="beauty/manicure.html").categories__button
            p Маникюр
            img(src="img/beauty/block/manicure.svg", alt="")
          a(href="beauty/makeup.html").categories__button
            p Макияж/Прически
            img(src="img/beauty/block/makeup.svg", alt="")
          a(href="").categories__button.closed
            p Косметика
            img(src="img/beauty/block/cosmetic.svg", alt="")
          a(href="beauty/eyebrow.html").categories__button
            p Брови/Ресницы
            img(src="img/beauty/block/eyelashes.svg", alt="")
          a(href="").categories__button.closed
            p Массаж
            img(src="img/beauty/block/massage.svg", alt="")
      
      nav.categoryNav
        .categoryNav__back
          a(href="/realpeople/app/")
            img(src="img/icon/backspace.svg", alt="")
        //- .categoryNav__link
        //-   .categoryNav__container
        //-     .swiper-wrapper
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")