<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(name="google" content="notranslate")
        title Одежда | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="/img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/img/logo/icon256.png")
    body
      main
        .categoryHeader
          h2 Одежда
          p Выберите магазин или услугу
          .categoryCloth
        .categories.categoriesCloth
          a(href="").categories__button
            p Аксессуары
            img(src="img/cloth/block/accessories.svg", alt="")
          a(href="").categories__button
            p Одежда
            img(src="img/cloth/block/clothes.svg", alt="")
          a(href="").categories__button
            p Обувь
            img(src="img/cloth/block/shoes.svg", alt="")
          a(href="").categories__button
            p Сумки
            img(src="img/cloth/block/bag.svg", alt="")
          a(href="").categories__button
            p Женская одежда
            img(src="img/cloth/block/womenclothes.svg", alt="")
      nav.categoryNav
        .categoryNav__back
          a(href="/realpeople/app/")
            img(src="img/icon/backspace.svg", alt="")
        //- .categoryNav__link
        //-   .categoryNav__container
        //-     .swiper-wrapper
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")