<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        title Одежда | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
    body
      main
        .categoryHeader
          h2 Одежда
          p Выберите магазин или услугу
          .categoryCloth
        .categories.categoriesCloth
          a(href="").categories__button.small
            p Аксессуары
            img(src="img/cloth/block/accessories.svg", alt="")
          a(href="").categories__button.long
            p Одежда
            img(src="img/cloth/block/clothes.svg", alt="")
          a(href="").categories__button.long
            p Обувь
            img(src="img/cloth/block/shoes.svg", alt="")
          a(href="").categories__button.small
            p Сумки
            img(src="img/cloth/block/bag.svg", alt="")
          a(href="").categories__button.wide
            p Женская одежда
            img(src="img/cloth/block/womenclothes.svg", alt="")
      include ../layout/categoryNav.pug
      
      script(src="js/bundle.js")