<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        title Еда | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="/img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/img/logo/icon256.png")
    body
      main
        .categoryHeader
          h2 Еда
          p Выберите магазин или услугу
          .categoryEat
        .categories.categoriesEat
          a(href="").categories__button.small.closed
            p Продукты
            img(src="img/eat/block/products.svg", alt="")
          a(href="").categories__button.long.closed
            p Готовая еда
            img(src="img/eat/block/fastfood.svg", alt="")
          a(href="eat/usadba_hall.html").categories__button.long
            p Кейтеринг
            p Усадьба Холл
            img(src="img/eat/block/catering.svg", alt="")
          a(href="eat/dessert.html").categories__button.small
            p Сладости
            img(src="img/eat/block/sweets.svg", alt="")
          a(href="").categories__button.wide.closed
            p Бургеры
            img(src="img/eat/block/burgers.svg", alt="")
      nav.categoryNav
        .categoryNav__back
          a(href="/realpeople/app/")
            img(src="img/icon/backspace.svg", alt="")
        .categoryNav__link
          .categoryNav__container
            .swiper-wrapper
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")