<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        title Подарки | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
    body
      main
        .categoryHeader
          h2 Подарки
          p Выберите магазин или услугу
          .categoryGift
        .categories.categoriesGift
          a(href="").categories__button.small
            p Подарки
            img(src="img/gift/block/gift.svg", alt="")
          a(href="").categories__button.long
            p Организаия мероприятий
            img(src="img/gift/block/events.svg", alt="")
          a(href="").categories__button.long
            p Артисты
            img(src="img/gift/block/artists.svg", alt="")
          a(href="").categories__button.small
            p Фото/Видео
            img(src="img/gift/block/photo.svg", alt="")
          a(href="").categories__button.wide
            p Ведущие/Диджеи
            img(src="img/gift/block/DJ.svg", alt="")
      nav.categoryNav
        .categoryNav__back
          a(href="/")
            img(src="img/icon/backspace.svg", alt="")
        .categoryNav__link
          .categoryNav__container
            .swiper-wrapper
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")