<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Авто | Реальные Люди
        link(rel="stylesheet", href="css/style.min.css")
    body
      main
        .categoryHeader
          h2 Дом
          p Выберите магазин или услугу
        .categories
          .categories__button.wide
            p Услуга
          .categories__button
            p Магазин
          .categories__button.long
            p Магазин
          .categories__button
            p Услуга
          .categories__button.long
            p Услуга
          .categories__button
            p Магазин
          .categories__button.long
            p Услуга
          .categories__button
            p Услуга
      include ../layout/categoryNav.pug
      
      script(src="js/main.min.js")