<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(name="google" content="notranslate")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="/img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/img/logo/icon256.png")
    body
      main
        .categoryHeader
          h2 Дом
          p Выберите магазин или услугу
          .categoryHome
        .categories.categoriesHouse
          a(href="#").categories__button
            p Ремонт
            img(src="img/house/block/repairs.svg", alt="")
          a(href="#").categories__button
            p Быт
            img(src="img/house/block/cleaning.svg", alt="")
          a(href="").categories__button
            p Интерьер
            img(src="img/house/block/interior.svg", alt="")
          a(href="house/smarthouse.html").categories__button
            p Умный дом
            img(src="img/house/block/electronics.svg", alt="")
          a(href="house/ceiling.html").categories__button
            p Потолки
            img(src="img/house/block/ceilings.svg", alt="")
      nav.categoryNav
        .categoryNav__back
          a(href="/realpeople/app/")
            img(src="img/icon/backspace.svg", alt="")
        //- .categoryNav__link
        //-   .categoryNav__container
        //-     .swiper-wrapper
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")