<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        link(rel="stylesheet", href="css/style.min.css")
    body
      main
        .categoryHeader
          h2 Дом
          p Выберите магазин или услугу
          .categoryHome
        .categories.categoriesHouse
          a(href="#").categories__button.small
            p Ремонт
            img(src="img/house/block/repairs.svg", alt="")
          a(href="#").categories__button.long
            p Быт
            img(src="img/house/block/cleaning.svg", alt="")
          a(href="").categories__button.long
            p Интерьер
            img(src="img/house/block/interior.svg", alt="")
          a(href="").categories__button.small
            p Электроника
            img(src="img/house/block/electronics.svg", alt="")
          a(href="").categories__button.wide
            p Потолки
            img(src="img/house/block/ceilings.svg", alt="")
      nav.categoryNav
        .categoryNav__back
          a(href="/")
            img(src="img/icon/backspace.svg", alt="")
        .categoryNav__link
          .categoryNav__container
            .swiper-wrapper
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")