<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        title Реальные люди | Красноярск
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="/img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/img/logo/icon256.png")
    body
      main
        .categories.mainCategories
          a(href="beauty.html").categories__button.categories__beauty
            p Красота
            img(src="img/main/beauty.svg", alt="")
          a(href="eat.html").categories__button.categories__eat.long
            p Еда
            img(src="img/main/eat.svg", alt="")
          a(href="auto.html").categories__button.categories__auto
            p Авто
            img(src="img/main/auto.svg", alt="")
          a(href="house.html").categories__button.categories__home.wide
            p Дом
            img(src="img/main/house.svg", alt="")
          a(href="cloth.html").categories__button.categories__cloth
            p Одежда
            img(src="img/main/clothes.svg", alt="")
          a(href="training.html").categories__button.categories__training.long
            p Обучение
            img(src="img/main/study.svg", alt="")
          a(href="holidays.html").categories__button.categories__holidays.long
            p Праздники
            img(src="img/main/holidays.svg", alt="")
          a(href="motion.html").categories__button.categories__motion
            p Движение
            img(src="img/main/motion.svg", alt="")
        
        nav.mainNav
          a#contact(href="")
            img(src="img/icon/contact.svg", alt="")
          a#contact.switch(href="")
            img(src="img/icon/list.svg", alt="")
            p список
          a#about(href="")
            p REAL
      
      script(src="js/bundle.js")
