<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        title Движение | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="/img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/img/logo/icon256.png")
    body
      main
        .categoryHeader
          h2 Движение
          p Выберите магазин или услугу
          .categoryMotion
        .categories.categoriesMotion
          a(href="").categories__button
            p Спорт
            img(src="img/motion/block/sport.svg", alt="")
          a(href="").categories__button
            p Отдых
            img(src="img/motion/block/relaxation.svg", alt="")
          a(href="").categories__button
            p Мероприятия
            img(src="img/motion/block/activity.svg", alt="")
          a(href="").categories__button
            p Туры
            img(src="img/motion/block/tours.svg", alt="")
          a(href="").categories__button
            p Спортивные товары
            img(src="img/motion/block/sportinggoods.svg", alt="")
      nav.categoryNav
        .categoryNav__back
          a(href="/realpeople/app/")
            img(src="img/icon/backspace.svg", alt="")
        //- .categoryNav__link
        //-   .categoryNav__container
        //-     .swiper-wrapper
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
        //-       a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")