<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Услуга | Реальные Люди
        link(rel="stylesheet", href="css/style.min.css")
    body
      include ../layout/serviceHeader.pug
      main
        .mainOption
          h1 Услуга
          p Краткое описание
          a(href="") Записаться

      include ../layout/categoryNav.pug
      
      script(src="js/bundle.js")