<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        title Обучение | Реальные люди
        link(rel="stylesheet", href="css/style.min.css")
    body
      main
        .categoryHeader
          h2 Обучение
          p Выберите магазин или услугу
          .categoryTraining
        .categories.categoriesTraining
          a(href="").categories__button.small
            p Репетиторы
            img(src="img/training/block/tutor.svg", alt="")
          a(href="").categories__button.long
            p Курсы
            img(src="img/training/block/courses.svg", alt="")
          a(href="").categories__button.long
            p Детям
            img(src="img/training/block/сhildreneducation.svg", alt="")
          a(href="").categories__button.small
            p Саморазвитие
            img(src="img/training/block/selfdevelopment.svg", alt="")
          a(href="").categories__button.wide
            p Курсы бровиста
            img(src="img/training/block/browistcourses.svg", alt="")
            
      nav.categoryNav
        .categoryNav__back
          a(href="/realpeople/app/")
            img(src="img/icon/backspace.svg", alt="")
        .categoryNav__link
          .categoryNav__container
            .swiper-wrapper
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
              a(href="").swiper-slide Подкатегория
      
      script(src="js/bundle.js")