<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Сладости | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
        link(rel="shortcut icon", href="../img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="../img/logo/icon256.png")

        link(rel="preload", as="image", href="../webp/eat/freelance/dessert/background.webp")
    body
      main
        include ../../layout/eat/story/dessert.pug
        include ../../layout/eat/price/dessert.pug

        .serviceHeader.promoDessert
          .serviceHeader__info
            h2 Сладости
            p Выберите специалиста

        .listMasters
          .master
            .master__block
              .story
              a(href="#").master__avatar.storyOpen
                picture
                  source(srcset="../webp/eat/freelance/dessert/avatar/1.webp", type="image/webp")
                  source(srcset="../img/eat/freelance/dessert/avatar/1.JPG", type="image/jpeg")
                  img(src="../img/eat/freelance/dessert/avatar/1.JPG", alt="")
              .master__info
                h3 Наталья
                p Торты и панкейки
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a(href="#").master__nav__button.small.price
                p Цены
              a(href="https://www.instagram.com/lomanevaa/" target="_blank").master__nav__button.wide
                img(src="../img/icon/instagram.svg", alt="")
                p Instagram
              a(href="https://wa.me/+79333374422").master__nav__button.wide
                img(src="../img/icon/whatsapp.svg", alt="")
                p Написать


          .master
            .master__block
              .story
              a(href="#").master__avatar.storyOpen
                picture
                  source(srcset="../webp/eat/freelance/dessert/avatar/2.webp", type="image/webp")
                  source(srcset="../img/eat/freelance/dessert/avatar/2.JPG", type="image/jpeg")
                  img(src="../img/eat/freelance/dessert/avatar/2.JPG", alt="")
              .master__info
                h3 Flowers Berries
                p Красноярский рабочий
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a(href="#").master__nav__button.small.price
                p Цены
              a(href="https://www.instagram.com/nail_by_frolovaa/" target="_blank").master__nav__button.wide
                img(src="../img/icon/instagram.svg", alt="")
                p Instagram
              a(href="https://wa.me/+79135230660").master__nav__button.wide
                img(src="../img/icon/whatsapp.svg", alt="")
                p Написать

        nav.serviceNav
          .serviceNav__back
            a(href="/realpeople/app/eat.html")
              img(src="../img/icon/backspace.svg", alt="")
          .serviceNav__category 
            a(href="/realpeople/app/eat.html") 
              p Категория | Еда
          .serviceNav__home
            a(href="/realpeople/app/")
              p REAL
      
      script(src="../js/bundle.js")