<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Усадьба Холл | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
        link(rel="shortcut icon", href="../img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="../img/logo/icon256.png")
    body
      main
        include ../../layout/eat/story/usadba_hall.pug
        include ../../layout/eat/price/usadba_hall.pug

        .serviceHeader.promoUsadbaHall
          .serviceHeader__info
            h2 Усадьба Холл
            p Кейтеринг. Банкетные залы. Аренда шатров.

        .serviceContent 
          .serviceContent__mainAction 
            a(href="https://усадьбахолл24.рф" target="_blank") Сайт
            a(href="tel:+73912860800") Позвонить
          
          .serviceContent__navigation
            a(href="https://wa.me/+73912860800").small 
              img(src="../img/icon/whatsapp.svg", alt="")
            a.wide.storyOpen
              img(src="../img/icon/gallary.svg", alt="")
              p О нас
            a(href="https://www.instagram.com/usadba_hall/" target="_blank").long
              img(src="../img/icon/instagram.svg", alt="")
              p Instagram
            a(href="https://viber.click/+73912860800").small
              img(src="../img/icon/viber.svg", alt="")
            a.small.price
              p Цены кейтеринг
            a(href="https://yandex.ru/maps/-/CCUQeJVm~B" target="_blank").small
              img(src="../img/icon/place.svg", alt="")
          
          .serviceContent__popularProduct
            .swiper-wrapper.productContainer
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/banketnye-zaly/" target="_blank").swiper-slide.productBlock
                p Банкетные залы
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/banketnoe-menyu/" target="_blank").swiper-slide.productBlock
                p Банкетное меню
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/kejtering-2/" target="_blank").swiper-slide.productBlock
                p Фуршетное меню
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/pekarnya-2/" target="_blank").swiper-slide.productBlock
                p Меню пекарни
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/catering-krasnoyarsk/" target="_blank").swiper-slide.productBlock
                p Кейтеринг
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/pekarnya/" target="_blank").swiper-slide.productBlock
                p Пекарня
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/svadba-v-krasnoyarske-nedorogo/" target="_blank").swiper-slide.productBlock
                p Свадьбы
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/yubiley-v-krasnoyarske/" target="_blank").swiper-slide.productBlock
                p Юбилеи
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/organizatsiya-vypusknyh-balov-v-krasnoyarske/" target="_blank").swiper-slide.productBlock
                p Выпускные
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/provedenie-detskih-prazdnikov-i-dnej-rozhdenij-v-krasnoyarske/" target="_blank").swiper-slide.productBlock
                p Детские праздники
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/novogodnij-korporativ-v-krasnoyarske/" target="_blank").swiper-slide.productBlock
                p Новогодние праздники
              a(href="https://xn--24-6kcaer5cazzv3a2g.xn--p1ai/shatry/" target="_blank").swiper-slide.productBlock
                p Шатры

        nav.serviceNav
          .serviceNav__back
            a(href="/realpeople/app/eat.html")
              img(src="../img/icon/backspace.svg", alt="")
          .serviceNav__category 
            a(href="/realpeople/app/eat.html") 
              p Категория | Еда
          .serviceNav__home
            a(href="/realpeople/app/")
              p REAL
              
      
      script(src="../js/bundle.js")