.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="", type="image/webp")
        source(srcset="", type="image/jpeg")
        img(src="", alt="")
    h3 Имя
  .priceBlock__container 
    h3 Название прайса
    .priceBlock__cost
      .title 
        p наименевание
      .cost 
        p от 1 руб.


  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать