//- 1 блок
.storyBlock
  .storyBlock__header 
    .avatar
      img(src="../img/eat/freelance/dessert/avatar/1.JPG", alt="")
    h3 Наталья

  .storyBlock__content
    .swiper-wrapper
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/1/1.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/1/2.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/1/3.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/1/4.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/1/5.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/1/6.JPG", alt="")

    .swiper-pagination 

    .swiper-button-next 
    .swiper-button-prev

  nav.storyNav
    .storyNav__back
      a(href="#").closeButton
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79333374422") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать


//- 2 блок
.storyBlock
  .storyBlock__header 
    .avatar
      img(src="../img/eat/freelance/dessert/avatar/2.JPG", alt="")
    h3 Flowers Berries

  .storyBlock__content
    .swiper-wrapper
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/2/1.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/2/2.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/2/3.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/2/4.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/2/5.JPG", alt="")
      .swiper-slide
        img(src="../img/eat/freelance/dessert/story/2/6.JPG", alt="")

    .swiper-pagination 

    .swiper-button-next 
    .swiper-button-prev

  nav.storyNav
    .storyNav__back
      a(href="#").closeButton
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79135230660") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать