<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ведущие и Диджеи | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
        link(rel="shortcut icon", href="../img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="../img/logo/icon256.png")

        link(rel="preload", as="image", href="../webp/holidays/freelance/DJ/background.webp")
    body
      main
        include ../../layout/holidays/story/DJ.pug
        include ../../layout/holidays/price/DJ.pug

        .serviceHeader.promoDj
          .serviceHeader__info
            h2 Ведущие и Диджеи
            p Выберите специалиста

        .listMasters
          .master
            .master__block
              .story
              a(href="#").master__avatar.storyOpen
                picture
                  source(srcset="../webp/holidays/freelance/DJ/avatar/1.webp", type="image/webp")
                  source(srcset="../img/holidays/freelance/DJ/avatar/1.JPG", type="image/jpeg")
                  img(src="../img/holidays/freelance/DJ/avatar/1.JPG", alt="")
              .master__info
                h3 Дуэт "Два Антона"
                p Ведущие на праздник
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a.master__nav__button.small.price
                p Цены
              a(href="https://www.instagram.com/duet_2antona/" target="_blank").master__nav__button.wide
                img(src="../img/icon/instagram.svg", alt="")
                p Instagram
              a(href="https://m.vk.com/id196852570" target="_blank").master__nav__button.small
                img(src="../img/icon/vk.svg", alt="")
              a(href="https://wa.me/+79232868625").master__nav__button.small
                img(src="../img/icon/whatsapp.svg", alt="")

        nav.serviceNav
          .serviceNav__back
            a(href="/realpeople/app/holidays.html")
              img(src="../img/icon/backspace.svg", alt="")
          .serviceNav__category 
            a(href="/realpeople/app/holidays.html") 
              p Категория | Праздники
          .serviceNav__home
            a(href="/realpeople/app/")
              p REAL
      
      script(src="../js/bundle.js")