<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Vanilla студия декора | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
        link(rel="shortcut icon", href="../img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="../img/logo/icon256.png")

        link(rel="preload", as="image", href="../webp/holidays/service/events/background.webp")
    body
      main
        include ../../layout/holidays/story/event.pug
        include ../../layout/holidays/price/event.pug

        .serviceHeader.promoEvent
          .serviceHeader__info
            h2 Vanilla
            p Студия декора

        .serviceContent 
          .serviceContent__mainAction 
            a(href="https://wa.me/+79509806060") Написать
          
          .serviceContent__navigation
            a(href="https://wa.me/+79509806060").small 
              img(src="../img/icon/whatsapp.svg", alt="")
            a.wide.storyOpen
              img(src="../img/icon/gallary.svg", alt="")
              p О нас
            a(href="https://www.instagram.com/vanilla_my_love/" target="_blank").long
              img(src="../img/icon/instagram.svg", alt="")
              p Instagram
            a(href="https://viber.click/+79509806060").small
              img(src="../img/icon/viber.svg", alt="")
            a.wide.price
              img(src="../img/icon/price.svg", alt="")
              p Цены
          
          .serviceContent__popularProduct
            .swiper-wrapper.productContainer
              a(href="https://www.instagram.com/stories/highlights/17879101487159623/" target="_blank").swiper-slide.productBlock
                p Выбор
              a(href="https://www.instagram.com/stories/highlights/17884182755009912/" target="_blank").swiper-slide.productBlock
                p От 12000
              a(href="https://www.instagram.com/stories/highlights/18158444314111988/" target="_blank").swiper-slide.productBlock
                p От 16000
              a(href="https://www.instagram.com/stories/highlights/17891440339942315/" target="_blank").swiper-slide.productBlock
                p От 18000

        nav.serviceNav
          .serviceNav__back
            a(href="/realpeople/app/eat.html")
              img(src="../img/icon/backspace.svg", alt="")
          .serviceNav__category 
            a(href="/realpeople/app/ ") 
              p Категория | Праздники
          .serviceNav__home
            a(href="/realpeople/app/")
              p REAL
              
      
      script(src="../js/bundle.js")