<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Фото и видео | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
        link(rel="shortcut icon", href="../img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="../img/logo/icon256.png")

        link(rel="preload", as="image", href="../webp/holidays/freelance/photo/background.webp")
    body
      main
        include ../../layout/holidays/story/photo.pug
        include ../../layout/holidays/price/photo.pug

        .serviceHeader.promoPhoto
          .serviceHeader__info
            h2 Фото и видео
            p Выберите специалиста

        .listMasters
          .master
            .master__block
              .story
              a.master__avatar.storyOpen
                picture
                  source(srcset="../webp/holidays/freelance/photo/avatar/1.webp", type="image/webp")
                  source(srcset="../img/holidays/freelance/photo/avatar/1.JPG", type="image/jpeg")
                  img(src="../img/holidays/freelance/photo/avatar/1.JPG", alt="")
              .master__info
                h3 Натали
                p Фотограф
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a.master__nav__button.small.price
                p Цены
              a(href="https://www.instagram.com/natalie_st_photo/" target="_blank").master__nav__button.wide
                img(src="../img/icon/instagram.svg", alt="")
                p Instagram
              a(href="https://wa.me/+79057558010").master__nav__button.wide
                img(src="../img/icon/whatsapp.svg", alt="")
                p Whatsapp


          .master
            .master__block
              .story
              a.master__avatar.storyOpen
                picture
                  source(srcset="../webp/holidays/freelance/photo/avatar/2.webp", type="image/webp")
                  source(srcset="../img/holidays/freelance/photo/avatar/2.jpg", type="image/jpeg")
                  img(src="../img/holidays/freelance/photo/avatar/2.jpg", alt="")
              .master__info
                h3 Ярославцева Александра
                p Фотограф
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a.master__nav__button.small.price
                p Цены
              a(href="https://www.instagram.com/yaroslavtsevasasha/" target="_blank").master__nav__button.wide
                img(src="../img/icon/instagram.svg", alt="")
                p Instagram
              a(href="https://viber.click/+79130365079").master__nav__button.small
                img(src="../img/icon/viber.svg", alt="")
              a(href="https://wa.me/+79130365079").master__nav__button.small
                img(src="../img/icon/whatsapp.svg", alt="")

        nav.serviceNav
          .serviceNav__back
            a(href="/realpeople/app/holidays.html")
              img(src="../img/icon/backspace.svg", alt="")
          .serviceNav__category 
            a(href="/realpeople/app/holidays.html") 
              p Категория | Праздники
          .serviceNav__home
            a(href="/realpeople/app/")
              p REAL
      
      script(src="../js/bundle.js")