.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/eyebrow/avatar/1.jpg", alt="")
    h3 Екатерина<br>THIS IS MY LASHES
  .priceBlock__container 
    h3 Ресницы
    .priceBlock__cost
      .title 
        p Классика
      .cost 
        p 1250 руб.
    .priceBlock__cost
      .title 
        p 1.5D
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p 2D
      .cost 
        p 1550 руб.
    .priceBlock__cost
      .title 
        p 2.5D
      .cost 
        p 1800 руб.
    .priceBlock__cost
      .title 
        p 3D
      .cost 
        p 1850 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://www.instagram.com/thisis_mylashes/") 
        img(src="../img/icon/instagram.svg", alt="")
        p Написать