.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/1.jpeg", alt="")
    h3 Вероника Куц
  .priceBlock__container 
    h3 Макияж и прически
    .priceBlock__cost
      .title 
        p Макияж
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Прическа
      .cost 
        p 1500-2000 руб.
    .priceBlock__cost
      .title 
        p Экспресс образ
      .cost 
        p 1900 руб.
    .priceBlock__cost
      .title 
        p Вечерний образ
      .cost 
        p 3000-3500 руб.
    .priceBlock__cost
      .title 
        p Пробный свадебный образ
      .cost 
        p 1900 руб.
    .priceBlock__cost
      .title 
        p Свадебный образ (Выезд)
      .cost 
        p 6000 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79131988200") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать

//- 2
.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/2.jpg", alt="")
    h3 Ксения Подрезова
  .priceBlock__container 
    h3 Услуга
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79632583162")
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать

//- 3
.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/3.jpg", alt="")
    h3 Тамара Куршакова
  .priceBlock__container 
    h3 Услуга
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79233316070") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать

//- 4
.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/4.JPG", alt="")
    h3 Елена Гусева
  .priceBlock__container 
    h3 Услуга
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
    .priceBlock__cost
      .title 
        p Название
      .cost 
        p 1500 руб.
        
  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="tel:+79233452567") 
        img(src="../img/icon/phone.svg", alt="")
        p Позвонить