.priceBlock 
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/manicure/avatar/1.jpg", alt="")
    h3 Катя Фролова
  .priceBlock__container 
    h3 Маникюр
    .priceBlock__cost
      .title 
        p Маникюр
      .cost 
        p 500 руб.
    .priceBlock__cost
      .title 
        p Маникюр+укрепление
      .cost 
        p 1200 руб.
    .priceBlock__cost
      .title 
        p Маникюр+покрытие
      .cost 
        p 1200 руб.
    .priceBlock__cost
      .title 
        p Наращивание
      .cost 
        p 1400 руб.
    .priceBlock__cost
      .title 
        p Коррекция полигелем
      .cost 
        p 1200 руб.
    .priceBlock__cost
      .title 
        p Коррекция гель-лак
      .cost 
        p 1100 руб.
    .priceBlock__cost
      .title 
        p Наращивание одного ногтя
      .cost 
        p 100 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="tel:+79832794026") 
        img(src="../img/icon/phone.svg", alt="")
        p Позвонить