.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/eat/freelance/dessert/avatar/1.webp", type="image/webp")
        source(srcset="../img/eat/freelance/dessert/avatar/1.JPG", type="image/jpeg")
        img(src="../img/eat/freelance/dessert/avatar/1.JPG", alt="")
    h3 Наталья
  .priceBlock__container 
    h3 Десерты
    .priceBlock__cost
      .title 
        p Торты
      .cost 
        p от 1 руб.
    .priceBlock__cost
      .title 
        p Панкейки
      .cost 
        p от 1 руб.
    .priceBlock__cost
      .title 
        p Конфеты ручной работы
      .cost 
        p от 1 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79333374422") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать

.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/eat/freelance/dessert/avatar/2.webp", type="image/webp")
        source(srcset="../img/eat/freelance/dessert/avatar/2.JPG", type="image/jpeg")
        img(src="../img/eat/freelance/dessert/avatar/2.JPG", alt="")
    h3 Flowers Berries
  .priceBlock__container 
    h3 Десерты
    .priceBlock__cost
      .title 
        p Свежая ягода
      .cost 
        p от 1 руб.
    .priceBlock__cost
      .title 
        p Цветочно-ягодные композиции
      .cost 
        p от 1 руб.
    .priceBlock__cost
      .title 
        p Бельгийский шоколад
      .cost 
        p от 1 руб.
    .priceBlock__cost
      .title 
        p Французкий шоколад
      .cost 
        p от 1 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79135230660") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать