.priceBlock 
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/eat/service/usadba_hall/avatar/1.webp", type="image/webp")
        source(srcset="../img/eat/service/usadba_hall/avatar/1.jpg", type="image/jpeg")
        img(src="../img/eat/service/usadba_hall/avatar/1.jpg", alt="")
    h3 Усадьба Холл<br>Кейтеринг
  .priceBlock__container 
    h3 Кейтеринг цены
    .priceBlock__cost
      .title 
        p Банкеты средний чек
      .cost 
        p от 1500 руб.
    .priceBlock__cost
      .title 
        p Кейтеринг (на одного челоека)
      .cost 
        p от 300 руб.
    .priceBlock__cost
      .title 
        p Оформление свадеб
      .cost 
        p от 5000 руб.
    .priceBlock__cost
      .title 
        p Торты (за 1кг)
      .cost 
        p от 1200 руб.
    .priceBlock__cost
      .title 
        p Аренда шатра
      .cost 
        p от 3000 руб.

  nav.storyNav
    .storyNav__back
      a(href="#").closePrice
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="tel:+73912860800") 
        img(src="../img/icon/phone.svg", alt="")
        p Позвонить