<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Макияж и прически | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
        link(rel="shortcut icon", href="../img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="../img/logo/icon256.png")
    body
      main
        include ../../layout/beauty/story/makeup.pug
        include ../../layout/beauty/price/makeup.pug

        .serviceHeader.promoMakeup
          .serviceHeader__info
            h2 Макияж и прически
            p Выберите специалиста

        .listMasters
          .master
            .master__block
              .story
              a(href="#").master__avatar
                img(src="../img/beauty/freelance/makeup/avatar/1.jpeg", alt="")
              .master__info
                h3 Вероника Куц
                p Выезд на дом
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a.master__nav__button.price
                img(src="../img/icon/ruble.svg", alt="")
                p Цены
              a(href="#").master__nav__button 
                p Звонок
              a.master__nav__button.messenger
                p Мессенджеры
              a(href="#").master__nav__button 
                p Специальные предложения
              a(href="#").master__nav__button 
                p Карта
              a(href="#").master__nav__button 
                p Запись

          .master
            .master__block
              .story
              a.master__avatar
                img(src="../img/beauty/freelance/makeup/avatar/2.jpg", alt="")
              .master__info
                h3 Ксения Подрезова
                p Батурина 5, салон Абгрейд
              .master__link 
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a.master__nav__button.price
                img(src="../img/icon/ruble.svg", alt="")
                p Цены
              a(href="#").master__nav__button 
                p Звонок
              a.master__nav__button.messenger
                p Мессенджеры
              a(href="#").master__nav__button 
                p Специальные предложения
              a(href="#").master__nav__button 
                p Карта
              a(href="#").master__nav__button 
                p Запись

          .master
            .master__block
              .story
              a.master__avatar
                img(src="../img/beauty/freelance/makeup/avatar/3.jpg", alt="")
              .master__info
                h3 Тамара Куршакова
                p Кирова, 37
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a.master__nav__button.price
                img(src="../img/icon/ruble.svg", alt="")
                p Цены
              a(href="#").master__nav__button 
                p Звонок
              a.master__nav__button.messenger
                p Мессенджеры
              a(href="#").master__nav__button 
                p Специальные предложения
              a(href="#").master__nav__button 
                p Карта
              a(href="#").master__nav__button 
                p Запись

          .master
            .master__block
              .story
              a.master__avatar
                img(src="../img/beauty/freelance/makeup/avatar/4.JPG", alt="")
              .master__info
                h3 Елена Гусева
                p Красноярск
              .master__link 
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a.master__nav__button.price
                img(src="../img/icon/ruble.svg", alt="")
                p Цены
              a(href="#").master__nav__button 
                p Звонок
              a.master__nav__button.messenger
                p Мессенджеры
              a(href="#").master__nav__button 
                p Специальные предложения
              a(href="#").master__nav__button 
                p Карта
              a(href="#").master__nav__button 
                p Запись

      nav.serviceNav
        .serviceNav__back
          a(href="/realpeople/app/beauty.html")
            img(src="../img/icon/backspace.svg", alt="")
        .serviceNav__category 
          a(href="/realpeople/app/beauty.html") 
            p Категория | Красота
        .serviceNav__home
          a(href="/realpeople/app/")
            p REAL
      
      script(src="../js/bundle.js")