<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Умный дом | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
    body
      main
        .serviceHeader
          .serviceHeader__info
            h2 Маникюр
            p Выберите мастера
          .serviceHeader__logo

        .listMasters
          .master
            .master__block
              .story
              a.master__avatar
                img(src="../img/beauty/freelance/manicure/avatar_1.jpg", alt="")
              .master__info
                h3 Анна Маникюрова
                a(href="") +79001231212 
              .master__link 
                a.master__link__gallary
                  img(src="../img/icon/gallary.svg", alt="")
                a.master__link__callback
                  img(src="../img/icon/link.svg", alt="")
            .masterContent
              .masterContent__gallary
              .masterContent__link
                a(href="").masterContent__button
                  img(src="../img/icon/instagram.svg", alt="")
                  p Инстаграм
                a(href="").masterContent__button
                  img(src="../img/icon/vk.svg", alt="")
                  p Вконтакте
                a(href="").masterContent__button
                  img(src="../img/icon/viber.svg", alt="")
                  p Viber
                a(href="").masterContent__button
                  img(src="../img/icon/whatsapp.svg", alt="")
                  p Whatsapp
                a(href="").masterContent__button
                  img(src="../img/icon/telegram.svg", alt="")
                  p Telegram
                a(href="").masterContent__button
                  img(src="../img/icon/maps.svg", alt="")
                  p Адрес
                a(href="").masterContent__button
                  img(src="../img/icon/time.svg", alt="")
                  p Записаться
                a(href="").masterContent__button
                  img(src="../img/icon/shop.svg", alt="")
                  p Магазин

          .master
            .master__block
              .master__avatar
                img(src="../img/beauty/freelance/manicure/avatar_2.jpg", alt="")
              .master__info
                h3 Ольга Шилакова
              .master__link 
                a.master__link__gallary
                  img(src="../img/icon/gallary.svg", alt="")
                a.master__link__callback
                  img(src="../img/icon/link.svg", alt="")
            .masterContent 
              .masterContent__gallary 
              .masterContent__link
                a(href="").masterContent__button
                  img(src="../img/icon/instagram.svg", alt="")
                  p Инстаграм
                a(href="").masterContent__button
                  img(src="../img/icon/vk.svg", alt="")
                  p Вконтакте
                a(href="").masterContent__button
                  img(src="../img/icon/viber.svg", alt="")
                  p Viber
                a(href="").masterContent__button
                  img(src="../img/icon/whatsapp.svg", alt="")
                  p Whatsapp
                a(href="").masterContent__button
                  img(src="../img/icon/telegram.svg", alt="")
                  p Telegram
                a(href="").masterContent__button
                  img(src="../img/icon/maps.svg", alt="")
                  p Адрес
                a(href="").masterContent__button
                  img(src="../img/icon/time.svg", alt="")
                  p Записаться
                a(href="").masterContent__button
                  img(src="../img/icon/shop.svg", alt="")
                  p Магазин
                

      include ../../layout/serviceNav.pug
      
      script(src="../js/bundle.js")