<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Умный дом | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
    body
      main
        .serviceHeader.promoManicure
          .serviceHeader__info
            h2 Маникюр
            p Выберите специалиста

        .listMasters
          .master
            .master__block
              .story
              a.master__avatar
                img(src="../img/beauty/freelance/manicure/avatar/1.jpg", alt="")
              .master__info
                h3 Анна Маникюрова
                p Дополнительная информация
              .master__link
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a(href="#").master__nav__button 
                img(src="../img/icon/ruble.svg", alt="")
                p Цены
              a(href="#").master__nav__button 
                p Звонок
              a.master__nav__button.messenger
                p Мессенджеры
              a(href="#").master__nav__button 
                p Специальные предложения
              a(href="#").master__nav__button 
                p Карта
              a(href="#").master__nav__button 
                p Запись

            .masterContent
              #callback_0.masterContent__link
                a(href="#").masterContent__button
                  img(src="../img/icon/viber.svg", alt="")
                  p Viber
                a(href="#").masterContent__button
                  img(src="../img/icon/whatsapp.svg", alt="")
                  p Whatsapp
                a(href="#").masterContent__button
                  img(src="../img/icon/telegram.svg", alt="")
                  p Telegram
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/maps.svg", alt="")
                //-   p Адрес
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/time.svg", alt="")
                //-   p Записаться
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/shop.svg", alt="")
                //-   p Магазин
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/instagram.svg", alt="")
                //-   p Инстаграм
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/vk.svg", alt="")
                //-   p Вконтакте
              #price_1.masterContent__price

          .master
            .master__block
              .master__avatar
                img(src="../img/beauty/freelance/manicure/avatar/2.jpg", alt="")
              .master__info
                h3 Ольга Шилакова
                p Дополнительная информация
              .master__link 
                a.master__link__openNavButton
                  img(src="../img/icon/add.svg", alt="")

            .master__nav
              a(href="#").master__nav__button 
                img(src="../img/icon/ruble.svg", alt="")
                p Цены
              a(href="#").master__nav__button 
                p Звонок
              a.master__nav__button.messenger
                p Мессенджеры
              a(href="#").master__nav__button 
                p Специальные предложения
              a(href="#").master__nav__button 
                p Карта
              a(href="#").master__nav__button 
                p Запись

            .masterContent
              #callback_1.masterContent__link
                a(href="#").masterContent__button
                  img(src="../img/icon/viber.svg", alt="")
                  p Viber
                a(href="#").masterContent__button
                  img(src="../img/icon/whatsapp.svg", alt="")
                  p Whatsapp
                a(href="#").masterContent__button
                  img(src="../img/icon/telegram.svg", alt="")
                  p Telegram
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/maps.svg", alt="")
                //-   p Адрес
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/time.svg", alt="")
                //-   p Записаться
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/shop.svg", alt="")
                //-   p Магазин
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/instagram.svg", alt="")
                //-   p Инстаграм
                //- a(href="").masterContent__button
                //-   img(src="../img/icon/vk.svg", alt="")
                //-   p Вконтакте
              #price_2.masterContent__price

      nav.serviceNav
        .serviceNav__back
          a(href="/realpeople/app/beauty.html")
            img(src="../img/icon/backspace.svg", alt="")
        .serviceNav__category 
          a(href="/realpeople/app/beauty.html") 
            p Категория | Красота
        .serviceNav__home
          a(href="/realpeople/app/")
            p REAL
      
      script(src="../js/bundle.js")