nav.categoryNav
  div.categoryNav__back
    a(href="#" onclick="history.back();return false;")
  div.categoryNav__container.swiper-container
    div.categoryNav__list.swiper-wrapper
      a(href="").swiper-slide
      a(href="").swiper-slide
      a(href="").swiper-slide
      a(href="").swiper-slide
      a(href="").swiper-slide
      a(href="").swiper-slide
      a(href="").swiper-slide
      a(href="").swiper-slide