nav.categoryNav
  .categoryNav__back
    a(href="#" onclick="history.back();return false;")
      img(src="/img/icon/back.svg", alt="")
  .categoryNav__link
    .categoryNav__container
      .swiper-wrapper
        a(href="").swiper-slide Подкатегория
        a(href="").swiper-slide Подкатегория
        a(href="").swiper-slide Подкатегория
        a(href="").swiper-slide Подкатегория
        a(href="").swiper-slide Подкатегория
        a(href="").swiper-slide Подкатегория