nav.categoryNav.swiper-container
  div.categoryNav__back
    a(href="index.html")
  div.categoryNav__list.swiper-wrapper
    a(href="").swiper-slide
    a(href="").swiper-slide
    a(href="").swiper-slide
    a(href="").swiper-slide
    a(href="").swiper-slide