nav.mainNav
  a#contact(href="")
    img(src="img/icon/contact.svg", alt="")
  a#contact.switch(href="")
    img(src="img/icon/list.svg", alt="")
    p список
  a#about(href="")
    img(src="img/icon/more.svg", alt="")