//- 1 блок
.storyBlock
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/1.jpeg", alt="")
    h3 Вероника Куц

  .storyBlock__content
    .swiper-wrapper
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/1/1.jpeg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/1/2.jpeg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/1/3.jpeg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/1/4.jpeg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/1/5.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/1/6.jpg", alt="")
      .swiper-slide
        video(src="../img/beauty/freelance/makeup/story/1/7.mp4" height="100%" autoplay muted) 
    .swiper-pagination 

    .swiper-button-next 
    .swiper-button-prev

  .storyBlock__footerNav
    a.actionButton Записаться
    a.closeButton Закрыть

//- 2 блок
.storyBlock
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/2.jpg", alt="")
    h3 Ксения Подрезова

  .storyBlock__content
    .swiper-wrapper
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/2/1.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/2/2.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/2/3.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/2/4.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/2/5.jpg", alt="")

    .swiper-pagination 

    .swiper-button-next 
    .swiper-button-prev

  .storyBlock__footerNav
    a.actionButton Записаться
    a.closeButton Закрыть

//- 3 блок
.storyBlock
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/3.jpg", alt="")
    h3 Ксения Подрезова

  .storyBlock__content
    .swiper-wrapper
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/3/1.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/3/2.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/3/3.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/3/4.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/3/5.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/3/6.jpg", alt="")

    .swiper-pagination 

    .swiper-button-next 
    .swiper-button-prev

  .storyBlock__footerNav
    a.actionButton Записаться
    a.closeButton Закрыть

//- 4 блок
.storyBlock
  .storyBlock__header 
    .avatar
      img(src="../img/beauty/freelance/makeup/avatar/4.jpg", alt="")
    h3 Ксения Подрезова

  .storyBlock__content
    .swiper-wrapper
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/4/1.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/4/2.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/4/3.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/4/4.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/4/5.jpg", alt="")
      .swiper-slide
        img(src="../img/beauty/freelance/makeup/story/4/6.jpg", alt="")

    .swiper-pagination 

    .swiper-button-next 
    .swiper-button-prev

  .storyBlock__footerNav
    a.actionButton Записаться
    a.closeButton Закрыть