//- 1 блок
.storyBlock
  .storyBlock__header 
    .avatar
      picture
        source(srcset="../webp/holidays/service/events/avatar/1.webp", type="image/webp")
        source(srcset="../webp/holidays/service/events/avatar/1.jpg", type="image/jpeg")
        img(src="../webp/holidays/service/events/avatar/1.jpg", alt="")
    h3 Vanilla | Студия декора

  .storyBlock__content
    .swiper-wrapper
      .swiper-slide
        picture
          source(srcset="../webp/holidays/service/events/story/1.webp", type="image/webp")
          source(srcset="../webp/holidays/service/events/story/1.JPG", type="image/jpeg")
          img(src="../webp/holidays/service/events/story/1.JPG", alt="")
      .swiper-slide
        picture
          source(srcset="../webp/holidays/service/events/story/2.webp", type="image/webp")
          source(srcset="../webp/holidays/service/events/story/2.JPG", type="image/jpeg")
          img(src="../webp/holidays/service/events/story/2.JPG", alt="")
      .swiper-slide
        picture
          source(srcset="../webp/holidays/service/events/story/3.webp", type="image/webp")
          source(srcset="../webp/holidays/service/events/story/3.JPG", type="image/jpeg")
          img(src="../webp/holidays/service/events/story/3.JPG", alt="")
      .swiper-slide
        picture
          source(srcset="../webp/holidays/service/events/story/4.webp", type="image/webp")
          source(srcset="../webp/holidays/service/events/story/4.JPG", type="image/jpeg")
          img(src="../webp/holidays/service/events/story/4.JPG", alt="")
      .swiper-slide
        picture
          source(srcset="../webp/holidays/service/events/story/5.webp", type="image/webp")
          source(srcset="../webp/holidays/service/events/story/5.JPG", type="image/jpeg")
          img(src="../webp/holidays/service/events/story/5.JPG", alt="")
      .swiper-slide
        picture
          source(srcset="../webp/holidays/service/events/story/6.webp", type="image/webp")
          source(srcset="../webp/holidays/service/events/story/6.JPG", type="image/jpeg")
          img(src="../webp/holidays/service/events/story/6.JPG", alt="")
      
    .swiper-pagination 

    .swiper-button-next 
    .swiper-button-prev

  nav.storyNav
    .storyNav__back
      a(href="#").closeButton
        img(src="../img/icon/backspace.svg", alt="")
    .storyNav__callback
      a(href="https://wa.me/+79509806060") 
        img(src="../img/icon/whatsapp.svg", alt="")
        p Написать