<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Умный дом | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
        link(rel="shortcut icon", href="../img/logo/icon32.png", type="image/x-icon")
        link(rel="shortcut icon", href="../img/logo/icon256.png")

        link(rel="preload", as="image", href="../webp/house/shop/smarthouse/background.webp")
    body
      main
        .serviceHeader.promoSmarthouse
          .serviceHeader__info
            h2 Умный дом
            p Подберём для Вас оборудование, установим умные счётчики, датчики, систему защиты от протечек, развернем систему автоматизированного учёта ресурсов.

        .serviceContent 
          .serviceContent__mainAction 
            a(href="https://realpeople24.ru/shop/smarthouse/") Магазин
            a(href="") Консультация
          
          .serviceContent__navigation
            a(href="").long
              img(src="../img/icon/place.svg", alt="")
              p Карта
            a(href="").wide
              img(src="../img/icon/gallary.svg", alt="")
              p О нас
            a(href="").long
              img(src="../img/icon/phone.svg", alt="")
              p Звонок
            a(href="").small Звонок
            a(href="").small 
              img(src="../img/icon/whatsapp.svg", alt="")
          
          .serviceContent__popularProduct
            .swiper-wrapper.productContainer
              .swiper-slide.productBlock
                p Товар 1
              .swiper-slide.productBlock
                p Товар 2
              .swiper-slide.productBlock
                p Товар 3
              .swiper-slide.productBlock
                p Товар 4
              .swiper-slide.productBlock
                p Товар 5
              .swiper-slide.productBlock
                p Товар 6

        nav.serviceNav
          .serviceNav__back
            a(href="/realpeople/app/house.html")
              img(src="../img/icon/backspace.svg", alt="")
          .serviceNav__category 
            a(href="/realpeople/app/house.html") 
              p Категория | Дом
          .serviceNav__home
            a(href="/realpeople/app/")
              p REAL
              
      
      script(src="../js/bundle.js")