<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Умный дом | Реальные Люди
        link(rel="stylesheet", href="../css/style.min.css")
    body
      main
        .serviceHeader
          .serviceHeader__info
            h2 Умный дом
            p +7 999 999 99 99
            p ул. Ленина 1
          .serviceHeader__logo
            img(src="../img/logo/smarthouse.svg", alt="")
        .mainOption
          h1 Автоматизация
          p Мы подберём для решения вашей задачи оборудование, установим умные счётчики, датчики, систему защиты от протечек, развернем систему автоматизированного учёта ресурсов.
          a(href="https://realpeople24.ru/shop/smarthouse/") Перейти в магазин

      nav.serviceNav
        .serviceNav__back
          a(href="#" onclick="history.back();return false;")
            img(src="img/icon/back.svg", alt="")
      
      script(src="../js/bundle.js")